<div>

<input type="text" name="input" value="<%= firstname %>" />
<input placeholder="<%= lastname %>" type="text" name="input" value="<%= lastname %>" />


<span contenteditable="true"><%= a %></span>
<span contenteditable="true"><%= b %></span>
<span contenteditable="true"><%= c %></span>
<span contenteditable="true"><%= d %></span>
<span contenteditable="true"><%= e %></span>


</div>